.blog-post-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.blog-post-dashboard {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(247, 247, 247, 1);
}
.blog-post-frame1171276798 {
  top: 62px;
  left: 15px;
  width: 260px;
  height: 944px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.blog-post-menu {
  gap: 10px;
  top: 42px;
  left: 30px;
  width: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.blog-post-navlink {
  display: contents;
}
.blog-post-frame1171274932 {
  gap: 10px;
  width: 200px;
  display: flex;
  padding: 15px 81px 15px 20px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  text-decoration: none;
}
.blog-post-element3 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-post-vuesaxlinearelement3 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.blog-post-element31 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.blog-post-vector {
  top: 2px;
  left: 13.5px;
  width: 8px;
  height: 8px;
  position: absolute;
}
.blog-post-vector01 {
  top: 13.5px;
  left: 13.5px;
  width: 8px;
  height: 8px;
  position: absolute;
}
.blog-post-vector02 {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  position: absolute;
}
.blog-post-vector03 {
  top: 13.5px;
  left: 2px;
  width: 8px;
  height: 8px;
  position: absolute;
}
.blog-post-text {
  color: rgba(32, 32, 32, 0.699999988079071);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-post-navlink1 {
  display: contents;
}
.blog-post-frame1171275055 {
  gap: 10px;
  width: 200px;
  display: flex;
  padding: 15px 100px 15px 20px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  text-decoration: none;
}
.blog-post-bag2 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-post-vuesaxlinearbag2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.blog-post-bag21 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.blog-post-vector04 {
  top: 2.0082919597625732px;
  left: 7.5px;
  width: 9px;
  height: 6px;
  position: absolute;
}
.blog-post-vector05 {
  top: 8px;
  left: 3.249196767807007px;
  width: 18px;
  height: 14px;
  position: absolute;
}
.blog-post-vector06 {
  top: 11.5px;
  left: 15.0009765625px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.blog-post-vector07 {
  top: 11.5px;
  left: 8px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.blog-post-text02 {
  color: rgba(32, 32, 32, 0.698);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
}
.blog-post-navlink2 {
  display: contents;
}
.blog-post-frame1171275051 {
  gap: 10px;
  width: 200px;
  display: flex;
  padding: 15px 100px 15px 20px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  text-decoration: none;
}
.blog-post-bag22 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-post-vuesaxlinearbag21 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.blog-post-bag23 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.blog-post-vector08 {
  top: 2.0082919597625732px;
  left: 7.5px;
  width: 9px;
  height: 6px;
  position: absolute;
}
.blog-post-vector09 {
  top: 8px;
  left: 3.249196767807007px;
  width: 18px;
  height: 14px;
  position: absolute;
}
.blog-post-vector10 {
  top: 11.5px;
  left: 15.0009765625px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.blog-post-vector11 {
  top: 11.5px;
  left: 8px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.blog-post-text03 {
  color: rgba(32, 32, 32, 0.699999988079071);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-post-navlink3 {
  display: contents;
}
.blog-post-frame1171275050 {
  gap: 10px;
  width: 200px;
  display: flex;
  padding: 15px 83px 15px 20px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  text-decoration: none;
}
.blog-post-messagetext {
  color: var(--dl-color-gray-black);
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-post-vuesaxoutlinemessagetext {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.blog-post-messagetext1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.blog-post-vector12 {
  top: 1.25px;
  left: 1.25px;
  color: var(--dl-color-gray-black);
  width: 21px;
  height: 22px;
  position: absolute;
}
.blog-post-vector13 {
  top: 7.25px;
  left: 6.25px;
  width: 11px;
  height: 1px;
  position: absolute;
}
.blog-post-vector14 {
  top: 12.25px;
  left: 6.25px;
  width: 7px;
  height: 1px;
  position: absolute;
}
.blog-post-text05 {
  color: rgba(32, 32, 32, 0.699999988079071);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-post-navlink4 {
  display: contents;
}
.blog-post-frame1171275053 {
  gap: 10px;
  width: 200px;
  display: flex;
  padding: 15px 83px 15px 20px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  text-decoration: none;
  background-color: var(--dl-color-default-primarycolor);
}
.blog-post-jamwrite {
  width: 24px;
  height: 24px;
}
.blog-post-text07 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-post-navlink5 {
  display: contents;
}
.blog-post-frame1171275054 {
  gap: 10px;
  width: 200px;
  display: flex;
  padding: 15px 83px 15px 20px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  text-decoration: none;
}
.blog-post-fluentsettings28regular {
  width: 24px;
  height: 24px;
}
.blog-post-text09 {
  color: rgba(32, 32, 32, 0.699999988079071);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-post-frame1171276799 {
  gap: 35px;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 80px;
  display: flex;
  padding: 0 60px 0 40px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(37, 133, 118, 1);
}
.blog-post-frame8 {
  gap: 9px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.blog-post-frame81 {
  width: 211px;
  height: 19px;
}
.blog-post-notifications {
  width: 30px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: var(--dl-color-default-primarycolor);
}
.blog-post-notifications1 {
  top: 2.5px;
  left: 5px;
  width: 20px;
  height: 25px;
  position: absolute;
}
.blog-post-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.blog-post-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.blog-post-frame1171276796 {
  width: 45px;
  height: 45px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40px;
}
.blog-post-biperson {
  top: 9.5px;
  left: 10px;
  width: 26px;
  height: 26px;
  position: absolute;
}
.blog-post-text11 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: "Inter";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.blog-post-dropdown-arrow {
  transition: 0.3s;
}
.blog-post-menudown {
  width: 24px;
  height: 24px;
}
.blog-post-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.blog-post-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.blog-post-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.blog-post-fluentsettings28regular1 {
  width: 24px;
  height: 24px;
}
.blog-post-menu-item {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.blog-post-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.blog-post-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.blog-post-icon {
  width: 24px;
  height: 24px;
}
.blog-post-menu-item1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.blog-post-frame1171276819 {
  gap: 10px;
  top: 80px;
  left: 260px;
  width: 1180px;
  height: 70px;
  display: flex;
  padding: 10px 30px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.blog-post-frame1171276800 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.blog-post-text16 {
  color: rgba(32, 32, 32, 0.8999999761581421);
  width: 286px;
  height: auto;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-post-frame44867 {
  gap: 580px;
  top: 168px;
  left: 310px;
  width: 1080px;
  height: 69px;
  display: flex;
  padding: 0 30px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.blog-post-frame44834 {
  width: 442px;
  height: 56px;
  display: flex;
  padding: 0 30px 0 0;
  align-items: center;
  flex-shrink: 0;
}
.blog-post-text18 {
  color: rgba(32, 32, 32, 0.8999999761581421);
  height: auto;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 83.52272510528564%;
  font-stretch: normal;
  text-decoration: none;
}
.blog-post-frame1171276924 {
  gap: 10px;
  display: flex;
  align-items: flex-start;
}
.blog-post-navlink8 {
  display: contents;
}
.blog-post-frame44969 {
  gap: 10px;
  height: 43px;
  display: flex;
  opacity: 0.50;
  padding: 10px 20px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 66px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-default-primarycolor);
}
.blog-post-frame44967 {
  gap: 10px;
  width: 76px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.blog-post-text20 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.blog-post-frame1171276900 {
  top: 247px;
  left: 310px;
  width: 1080px;
  height: 777px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.blog-post-frame1171276925 {
  gap: 20px;
  top: 45px;
  left: 257px;
  width: 566px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.blog-post-frame1171276912 {
  gap: 16px;
  width: 566px;
  height: 160px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.11999999731779099) ;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(37, 133, 118, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(247, 247, 247, 1);
}
.blog-post-frame38813244 {
  gap: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.blog-post-frame1171276926 {
  gap: 4px;
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
}
.blog-post-image {
  width: 57px;
  height: 57px;
}
.blog-post-text22 {
  color: rgba(52, 199, 89, 1);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 114.99999761581421%;
  font-stretch: normal;
  text-decoration: none;
}
.blog-post-frame1171276911 {
  gap: 10px;
  width: 566px;
  height: 80px;
  display: flex;
  padding: 15px 0;
  overflow: hidden;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
.blog-post-frame1171276915 {
  gap: 20px;
  display: flex;
  align-items: center;
}
.blog-post-line203 {
  width: 61px;
  height: 1px;
}
.blog-post-text24 {
  color: rgba(181, 181, 181, 1);
  height: auto;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Millik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.blog-post-frame44753 {
  gap: 16px;
  width: 566px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.11999999731779099) ;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.03999999910593033);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.blog-post-frame44752 {
  gap: 16px;
  height: 200px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.07999999821186066);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  background-color: rgba(247, 247, 247, 1);
}
.blog-post-frame44755 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(240, 240, 240, 1);
}
.blog-post-text26 {
  gap: 20px;
  display: flex;
  opacity: 0.80;
  align-items: flex-start;
}
.blog-post-icons-formattingbold {
  width: 16px;
  height: 16px;
}
.blog-post-icons-formattingitalic {
  width: 16px;
  height: 16px;
}
.blog-post-icons-formattingunderline {
  width: 16px;
  height: 16px;
}
.blog-post-icons-formattingstrike-through {
  width: 16px;
  height: 16px;
}
.blog-post-icons-formattingtext-color {
  width: 16px;
  height: 16px;
}
.blog-post-icons-formattingbackground-color {
  width: 16px;
  height: 16px;
}
.blog-post-icons-contentsmile {
  width: 16px;
  height: 16px;
}
.blog-post-text27 {
  color: rgba(0, 0, 0, 0.4000000059604645);
  height: auto;
  z-index: 1;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.blog-post-group1171275198 {
  top: 56px;
  left: 527px;
  width: 2px;
  height: 139px;
  display: flex;
  z-index: 2;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
.blog-post-rectangle206080 {
  top: 27.986669540405273px;
  left: 0px;
  width: 2px;
  height: 27px;
  position: absolute;
  border-radius: 4px;
}
.blog-post-media {
  gap: 20px;
  display: flex;
  align-items: flex-start;
}
.blog-post-icons-contentinsert-image {
  width: 24px;
  height: 24px;
}
.blog-post-icons-contentinsert-link {
  width: 24px;
  height: 24px;
}
.blog-post-icons-contentinsert-file {
  width: 24px;
  height: 24px;
}
.blog-post-icons-contentinsert-video {
  width: 24px;
  height: 24px;
}
.blog-post-frame44754 {
  gap: 16px;
  width: 566px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.11999999731779099) ;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.03999999910593033);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.blog-post-frame447521 {
  gap: 28px;
  display: flex;
  padding: 9px 16px 10px;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.07999999821186066);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.029999999329447746);
}
.blog-post-text29 {
  color: rgba(0, 0, 0, 0.4000000059604645);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.blog-post-frame44729 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.blog-post-frame257 {
  gap: 8px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  justify-content: center;
}
.blog-post-plus {
  width: 16px;
  height: 16px;
}
.blog-post-text31 {
  color: rgba(32, 32, 32, 0.800000011920929);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.blog-post-frame259 {
  gap: 8px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  justify-content: center;
}
.blog-post-plus1 {
  width: 16px;
  height: 16px;
}
.blog-post-text33 {
  color: rgba(32, 32, 32, 0.800000011920929);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.blog-post-frame258 {
  gap: 8px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  justify-content: center;
}
.blog-post-plus2 {
  width: 16px;
  height: 16px;
}
.blog-post-text35 {
  color: rgba(32, 32, 32, 0.800000011920929);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
